main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
h2{
    padding-bottom: 30px;
    padding-top: 30px;
}
.button{
    margin-top: 15px;
}
.missed{
    color: red;
}
.green{
    color: lightgreen;
}